.price-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  &__label {
    font-size: var(--lg);
    opacity: 0.5;
    transition: opacity 0.3s ease;

    &--active {
      opacity: 1;
    }
  }

  &__switch {
    position: relative;
    width: 4rem;
    height: 2rem;
    border-radius: 1rem;
    background-color: var(--gray);
    border: none;
    cursor: pointer;
    padding: 0;
    transition: background-color 0.3s ease;

    // &:hover {
    //   background-color: black;
    // }
  }

  &__handle {
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: black;
    border-radius: 50%;
    transition: transform 0.3s ease;
  }

  &__switch--yearly &__handle {
    transform: translateX(2rem);
  }

  // &__switch--yearly {
  //   background-color: black;
  // }
}
