:root {
  --anim: 0.3s ease;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;

  a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    outline-offset: 0px;
    outline: 0px solid black;

    &:focus {
      outline-offset: 3px;
      outline: 3px solid black;
    }
  }
}

.background--black {
  background-color: #000;
}
