:root {
  // Fonts
  --font-dm-sans: "DM Sans", sans-serif;

  --font-xs: 0.75rem; // 12px | P
  --font-sm: 0.938rem; // 15px | H4
  --font-md: 1.125rem; // 18px | H3
  --font-lg: 1.5rem; // 24px | H2
  --font-xl: clamp(2rem, 5vw, 2.5rem); // 32px --> 40px | H1
}

// Unitless line-height mixin
@mixin line-height($font-size, $line-height) {
  line-height: calc(#{$line-height} / #{$font-size});
}

.h1,
.h2,
.h3,
.h4,
.p {
  font-family: var(--font-dm-sans);
  font-weight: 700;
}

.p {
  @include line-height(25px, var(--font-xs));
  font-weight: 400;
}

.h1 {
  @include line-height(48px, var(--font-xl));
  font-size: var(--font-xl);
}

.h2 {
  @include line-height(25px, var(--font-lg));
  font-size: var(--font-lg);
}

.h3 {
  @include line-height(25px, var(--font-md));
  font-size: var(--font-md);
}

.h4 {
  @include line-height(16px, var(--font-sm));
  font-size: var(--font-sm);
}
