@use "../global-scss/breakpoints" as bp;

.pricing-section {
  padding-block: var(--pad-lg);

  @media (min-width: bp.$bp-md) {
    --difference: 1.875rem;
  }
}

.pricing-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;

  @media (min-width: bp.$bp-md) {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    align-items: center;
  }
}
